label, h3 {
    font-weight: bold;
    color:white;
}

.mensaje-exito {
    font-size: 14px;
    color: white;
    font-weight: bold;
    display: none;    /* Mensaje oculto por defecto */
}

.mensaje-exito-activo {
    display: block;    /* Mensaje revelado al pasar afirmativamente el formulario */
}

.error {
    font-size: 12px;
    margin-bottom: 0;
    color: orange;
    font-weight: normal;
    display: none;    /* Mensaje de error oculto por defecto */
}

.error-activo {
    display: block;    /* Mensaje de error revelado al no cumplirse algo */
}

.contacto_error {
	font-size: 14px;
    font-weight: bold;
    color: orange;
    display: none;    /* Mensaje de error de formulario oculto por defecto */
}

.contacto_error-activo {
    display: block;    /* Mensaje de error de formulario revelado ante algún false */
}

.contacto_error p {
    margin: 0;
}

#mensaje{
    height: 150px;
    width: 100%;
}

input{
    width: 100%;
}

form{
    margin:auto;
    animation-name: animacion1;
    animation-duration: 3s;
}

@keyframes animacion1 {                           /* Animacion de Opacidad */
    from {opacity: 0;}
    to {opacity: 1;}
